<a href="https://colab.research.google.com/github/GGuerra0301/GGuerra0301/blob/master/Cleaning_a_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "GABRIELA GUERRA"
COLLABORATORS = ""

---

# Objective

The objective of this notebook is get hands-on experience on cleaning a "dirty" dataset.
Often, datasets are created from "free-text" fields. In free-text fields, data validation is not enforced and as a result, many conventions co-exist within the same column of data.
Dirty data can also ocurr when collection information from different sources. If these sources use different conventions to represent such data, additional efforts are required to homogenize it at a later stage.

Here, we will use a dataset stored in Google Drive as sepearte zippeed csv files. First, we will download and join them. Later, we will calculate some statistics on the resulting dataset.

## Downloading the datset

In [3]:
from zipfile import ZipFile
from io import BytesIO
import urllib.request as urllib2
import pandas as pd
import numpy as np

In [4]:
def df_from_zip_url(filename, url):
    try:
        url_ = 'https://drive.google.com/uc?export=download&id=' + url.split('/')[-2]
        r = urllib2.urlopen(url_).read()
        file = ZipFile(BytesIO(r))
        csv = file.open(filename)
        return pd.read_csv(csv)
    except:
        print(filename)
        return None

In [5]:
FILES = [
    (
        "ae_com.csv",
        "https://drive.google.com/file/d/1Vb3yhXGr9i95HYLvB1Y5S310Ezz0YJdK/view?usp=sharing"
    ),
    (
        "amazon_com.csv",
        "https://drive.google.com/file/d/1ZuQ8Jlzf8areKaWXeyZ5ducZPOEAb4X0/view?usp=sharing"
    ),
    (
        "btemptd_com.csv",
        "https://drive.google.com/file/d/1u6qd8XOd17uPe0Ny6vWx-i1lcddiQ7H2/view?usp=sharing"
    ),
    (
        "calvinklein_com.csv",
        "https://drive.google.com/file/d/1tAHKlbaaRcDylkJEwf3Y4AGirEU8xO7V/view?usp=sharing"
    ),
    (
        "hankypanky_com.csv",
        "https://drive.google.com/file/d/1Z6veXtSgRZNPX-EvZcdg5wk9pHyEW-ym/view?usp=sharing"
    ),
    (
        "macys_com.csv",
        "https://drive.google.com/file/d/1U9QZj3L1zUi1MOouOIDTfVzfnjxALxzp/view?usp=sharing"
    ),
    (
        "shop_nordstrom_com.csv",
        "https://drive.google.com/file/d/1TTaUiDZbFIu2Obvt-sp0MV19Cf9mvAIG/view?usp=sharing",
    ),
    (
        "us_topshop_com.csv",
        "https://drive.google.com/file/d/1PVbYeJmifhyQ4lncFUzDkBQ69rl083kU/view?usp=sharing"
    ),
    (
        "victoriassecret_com.csv", 
        "https://drive.google.com/file/d/13zGk_S6CsWKyYf0Gg52pS0ut8ls9jLUL/view?usp=sharing"
    ),
]

In [6]:
dfs = [df_from_zip_url(item[0], item[1]) for item in FILES]

## The different datasets on their own

In [7]:
dfs[0].head()

                       product_name  ...         color
0  Aerie Everyday Loves Lace Cheeky  ...  Rugged Green
1  Aerie Everyday Loves Lace Cheeky  ...  Natural Nude
2  Aerie Everyday Loves Lace Cheeky  ...    True Black
3  Aerie Everyday Loves Lace Cheeky  ...         White
4  Aerie Everyday Loves Lace Cheeky  ...    Royal Navy

[5 rows x 14 columns]

In [8]:
dfs[1].head()

                                        product_name  ...  color
0  Calvin Klein Women's Sheer Marquisette Demi Un...  ...   Bare
1                   Wacoal Embrace Lace Bikini Panty  ...  Large
2     Wacoal Women's Slimline Seamless Minimizer Bra  ...  Black
3     Hanky Panky Womens Signature Lace Retro V-Kini  ...  Large
4            Wacoal Women's Red Carpet Strapless Bra  ...  Pecan

[5 rows x 14 columns]

In [9]:
dfs[2].head()

                    product_name      mrp  ... available_size          color
0  b.tempt'd Ciao Bella Bralette  $30.00   ...    l,m,s,xl,xs   Bridal White
1  b.tempt'd Ciao Bella Bralette  $30.00   ...    l,m,s,xl,xs          Night
2  b.tempt'd Ciao Bella Bralette  $30.00   ...    l,m,s,xl,xs     Wild Aster
3  b.tempt'd Ciao Bella Bralette  $30.00   ...    l,m,s,xl,xs  Camellia Rose
4  b.tempt'd Ciao Bella Bralette  $30.00   ...    l,m,s,xl,xs     Cappuccino

[5 rows x 14 columns]

### Joining all the datasets into one

In [45]:
df = pd.concat(dfs)

In [46]:
df.shape

(613143, 14)

# Calculating statistics on the dataset

## Unifying Victoria's Secret

In [ ]:
pd.unique(df['brand_name'])

array(['AERIE', 'AEO', 'Calvin-Klein', 'Wacoal', 'Hanky-Panky',
       'b-temptd', 'Victorias-Secret', 's',
       'ref=w_bl_sl_l_ap_ap_web_2586685011?ie=UTF8&node=2586685011&field-lbr_brands_browse-bin=Calvin+Klein',
       'ref=w_bl_sl_l_b_ap_web_2586451011?ie=UTF8&node=2586451011&field-lbr_brands_browse-bin=b.tempt%27d',
       'Fila', 'Lucky-Brand',
       'ref=w_bl_sl_l_b_ap_web_2603426011?ie=UTF8&node=2603426011&field-lbr_brands_browse-bin=Wacoal',
       'Creative-Motion', 'Sexy-Hair', 'Nintendo', 'Compression-Comfort',
       'WACOAL', 'Calvin Klein', 'HankyPanky', 'Hanky Panky',
       "b.tempt'd by Wacoal", 'Calvin Klein Modern Cotton', 'Vanity Fair',
       'Calvin Klein Performance', "b.tempt'd", 'HANKY PANKY',
       "B.TEMPT'D BY WACOAL", 'CALVIN KLEIN', 'NORDSTROM LINGERIE',
       'US TOPSHOP', "Victoria's Secret", "Victoria's Secret Pink"],
      dtype=object)

In [ ]:
dfv1=df[df["brand_name"] == "Victoria's Secret"]
dfv1.shape[0]

342533

In [ ]:
dfv2=df[df["brand_name"] == "Victoria's Secret Pink"]
dfv2.shape[0]

110853

In [ ]:
dfv3=df[df["brand_name"] == "Victorias-Secret"]
dfv3.shape[0]

67

In [12]:
def unify_victoria_secret(df):
    df= df.copy() #se creará un nuevo objeto con una copia de los datos y los índices del objeto de llamada. Las modificaciones a los datos o índices de la copia no se reflejarán en el objeto original 
    new_string = "victoria's secret"
      #pd.df.loc[df.brand_name=="Victoria's Secret"]=new_string
    df.brand_name=df.brand_name.replace({"Victoria's Secret": new_string ,"Victoria's Secret Pink":new_string,"Victorias-Secret":new_string})
    return df
        
   #"""
   #We want that all brands that are related to Victoria's Secret
   #have `victoria's secret` as their brand instead of what they
   #currently have.
   #"""

In [ ]:
#dfvs=df[df["brand_name"] == new_string]

In [ ]:
#dfvs.shape[0]

In [13]:
df = unify_victoria_secret(df)
assert df[df["brand_name"] == "victoria's secret"].shape[0] == 453453

## Cleaning up the price

In this sectino we are going to transform the `price` column into a float column in USD dolars.

For this, be careful of the different formats in the data.

For simplicity, you might assume that all the prices are in USD dolars, regarding of the symbol of the currency used.

In [32]:
def clean_price(df):
    """
    In this function we will transform the
    `price` column into a column of floats.
    In case a product has more than one price,
    return the lowest one.
    """
    
    # YOUR CODE HERE
    raise NotImplementedError()

In [47]:
pd.unique(df['price'])

array(['12.50 USD', '9.50 USD', '7.50 USD', ..., 'Rp474.522', 'Rp543.294',
       'Rp343.857'], dtype=object)

In [34]:
df.columns

Index(['product_name', 'mrp', 'price', 'pdp_url', 'brand_name',
       'product_category', 'retailer', 'description', 'rating', 'review_count',
       'style_attributes', 'total_sizes', 'available_size', 'color'],
      dtype='object')

In [48]:
df.price = [col.replace(" ", "") for col in df.price]
df.price = [col.replace("$", "") for col in df.price]
df.price = [col.replace("Rp", "") for col in df.price]
df.price = [col.replace("USD", "") for col in df.price]

In [49]:
df[["price"]] = df[["price"]].apply(pd.to_numeric)

ValueError: ignored

In [50]:
# no parece estar funcionando
# Objetivo: si en la columna price está el patrón hasta 6 digitos - hasta 6 dígitos
def create_df(finalText):
    pattern = re.compile ("(\d{1,2,3,4,5,6})-\d{1,2,3,3,4,5,6}")
    columns = ('price')
    pattern.findall(df['price'])
    #res = [dict(zip(columns, pattern.findall(line))) for line in finalText.splitlines() if pattern.search(line)]
    df = pd.DataFrame(res)
    return df

In [51]:
df[["price"]] = df[["price"]].apply(pd.to_numeric)

ValueError: ignored

In [52]:
df.price = [col.replace("19.99 - 24.99", "19.99") for col in df.price]
df.price = [col.replace("19.99-24.99", "19.99") for col in df.price]
df.price = [col.replace("31.20–33.60", "31.20") for col in df.price]
df.price = [col.replace("23.00–25.00", "23") for col in df.price]

In [60]:
df[["price"]] = df[["price"]].apply(pd.to_numeric)

ValueError: ignored

In [58]:
df.price = [col.replace(" 20.00", "20.00") for col in df.price]

In [61]:
df[["price"]] = df[["price"]].apply(pd.to_numeric)

ValueError: ignored

In [59]:
df = clean_price(df)
assert df["price"].sum() == 20191976.02

NotImplementedError: ignored

In [ ]:
def low_high_product_mean(df):
    """
    Finally, we will calculate `product_category` with the lowest and highest mean price
    for the brand Victoria's Secret.
    """

    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
lowest_mean, highest_mean = low_high_product_mean(df)
assert np.allclose(lowest_mean, 3.620303)
assert np.allclose(highest_mean, 98.000000)