In [1]:
!pip install scikit-surprise

Looking in indexes: https://artifactory.dataxu.net/artifactory/api/pypi/pypi-virtual/simple/
Requirement already satisfied: scikit-surprise in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (1.1.1)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-surprise) (0.17.0)
Requirement already satisfied: numpy>=1.11.2 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-surprise) (1.19.4)
Requirement already satisfied: scipy>=1.0.0 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-surprise) (1.5.4)
Requirement already satisfied: six>=1.10.0 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-surprise) (1.15.0)

In [3]:
import surprise
import pandas as pd

In [4]:
df = pd.read_csv('movies_small.csv')

In [5]:
df.head()

,Unnamed: 0,userId,movieId,rating,timestamp,title,genres
0,1626,132,260,2.0,1157920586,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
1,1647,198,260,5.0,1034137711,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
2,1655,212,260,2.5,1505400094,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
3,1667,234,260,5.0,1004407958,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,1684,279,260,5.0,1506394310,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi