In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies_small.csv")

In [4]:
df.head()

,Unnamed: 0,userId,movieId,rating,timestamp,title,genres
0,1626,132,260,2.0,1157920586,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
1,1647,198,260,5.0,1034137711,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
2,1655,212,260,2.5,1505400094,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
3,1667,234,260,5.0,1004407958,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,1684,279,260,5.0,1506394310,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi

In [ ]:
# ¿Cuántas películas vió el usuario 132?

In [8]:
df['userId']==132

0       True
1      False
2      False
3      False
4      False
       ...
251    False
252    False
253    False
254    False
255    False
Name: userId, Length: 256, dtype: bool

In [11]:
condicion = df['userId']==132
df[condicion]

,Unnamed: 0,userId,movieId,rating,timestamp,title,genres
0,1626,132,260,2.0,1157920586,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
24,7603,132,1210,2.0,1157921254,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
51,13887,132,2858,4.5,1157922636,American Beauty (1999),Drama|Romance
64,18249,132,914,3.0,1157923450,My Fair Lady (1964),Comedy|Drama|Musical|Romance
78,26520,132,410,3.0,1157967526,Addams Family Values (1993),Children|Comedy|Fantasy
104,31294,132,355,2.0,1157923325,"Flintstones, The (1994)",Children|Comedy|Fantasy
131,34453,132,1784,2.5,1157921506,As Good as It Gets (1997),Comedy|Drama|Romance
208,58274,132,788,2.0,1157922765,"Nutty Professor, The (1996)",Comedy|Fantasy|Romance|Sci-Fi

In [ ]:
df[df['userId']]==

In [10]:
len(df[df['userId']==132])

8