In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies_small.csv")

In [4]:
df.head()

,Unnamed: 0,userId,movieId,rating,timestamp,title,genres
0,1626,132,260,2.0,1157920586,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
1,1647,198,260,5.0,1034137711,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
2,1655,212,260,2.5,1505400094,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
3,1667,234,260,5.0,1004407958,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,1684,279,260,5.0,1506394310,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi

In [ ]:
# ¿Cuántas películas vió el usuario 132?