UMFlix, la nueva productora de cine quiere promocionar su nueva película “Starwars: the last war”. Para eso quiere enviar emails a todos aquellos usuarios a quienes les pueda interesar esta nueva película en forma de promoción. La base de datos de movielens cuenta con todos los usuarios a quienes les gustaron las películas de Starwars (siempre que el rating sea mayor o igual a 4). Esos son obvios candidatos para mandar la promoción, sin embargo, UMFlix quiere ampliar ese universo. Usuarios que con alta probabilidad le gusten las películas de Starwars (pero no las hayan visto) serán usuarios a quienes también se les enviará la promoción. De esta forma UMFlix desea ampliar a 50 usuarios adicionales a quienes mandar la promoción. 

Se considera que alguien le gustan las películas de Starwars si vio alguna de estas con rating 4 o más:
```
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Star Wars: Episode VII - The Force Awakens (2015)'
```

Contamos con los archivos movies.csv y ratings.csv

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [4]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [5]:
df = movies.merge(ratings, on='movieId')

In [6]:
df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [8]:
len(pd.unique(df['userId']))

610

In [9]:
df['userId'].nunique()

610

In [10]:
starwars = ['Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Star Wars: Episode VII - The Force Awakens (2015)']

In [11]:
starwars

['Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Star Wars: Episode VII - The Force Awakens (2015)']

In [20]:
df[(df['title'].isin(starwars)) & (df['rating']>=4)]['userId'].nunique()

256

In [21]:
df['in_segment'] = (df['title'].isin(starwars)) & (df['rating']>=4)

In [23]:
df[df['in_segment']==True]

,movieId,title,genres,userId,rating,timestamp,in_segment
6853,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1,5.0,964981680,True
6854,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4,5.0,945079259,True
6855,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,7,5.0,1106635933,True
6856,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,15,5.0,1510571946,True
6858,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,17,5.0,1305696468,True
...,...,...,...,...,...,...,...
98176,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX,561,4.0,1491090863,True
98177,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX,582,4.5,1463474276,True
98178,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX,586,5.0,1529899311,True
98179,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX,596,4.5,1535708493,True
98181,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX,610,4.5,1479544589,True

In [24]:
mdf = pd.get_dummies(df['title']).join(df)

In [25]:
mdf

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),movieId,title,genres,userId,rating,timestamp,in_segment
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,False
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,False
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,False
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,False
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,False
100832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,False
100833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,193585,Flint (2017),Drama,184,3.5,1537109805,False
100834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,False
100835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,False

In [28]:
features_df = mdf.drop(starwars + ['in_segment','userId','movieId','title', 'timestamp', 'genres','rating'], axis=1)

In [29]:
features_df

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
!pip install sklearn

Looking in indexes: https://artifactory.dataxu.net/artifactory/api/pypi/pypi-virtual/simple/
Requirement already satisfied: sklearn in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: scikit-learn in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from sklearn) (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.5.4)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-learn->sklearn) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.19.4)

In [32]:
from sklearn.naive_bayes import MultinomialNB

clf = MultinomialNB().fit(features_df, mdf['in_segment'])

In [34]:
predicciones = clf.predict_proba(features_df)

In [35]:
predicciones

array([[9.99653474e-01, 3.46525711e-04],
       [9.99653474e-01, 3.46525711e-04],
       [9.99653474e-01, 3.46525711e-04],
       ...,
       [9.63913257e-01, 3.60867434e-02],
       [9.63913257e-01, 3.60867434e-02],
       [9.63913257e-01, 3.60867434e-02]])

In [40]:
predicciones.T[0]

array([0.99965347, 0.99965347, 0.99965347, ..., 0.96391326, 0.96391326,
       0.96391326])

In [44]:
mdf['prob'] = predicciones.T[0]

In [45]:
mdf

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),movieId,title,genres,userId,rating,timestamp,in_segment,prob
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,False,0.999653
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,False,0.999653
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,False,0.999653
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,False,0.999653
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,False,0.999653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,0,0,0,0,0,0,0,0,0,0,...,0,0,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,False,0.963913
100832,0,0,0,0,0,0,0,0,0,0,...,0,0,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,False,0.963913
100833,0,0,0,0,0,0,0,0,0,0,...,0,0,193585,Flint (2017),Drama,184,3.5,1537109805,False,0.963913
100834,0,0,0,0,0,0,0,0,0,0,...,0,0,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,False,0.963913
100835,0,0,0,0,0,0,0,0,0,0,...,0,0,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,False,0.963913

In [47]:
mdf['prob'].describe()

count    100836.000000
mean          0.994852
std           0.007767
min           0.963913
25%           0.994273
50%           0.998084
75%           0.999088
max           0.999773
Name: prob, dtype: float64

In [48]:
otros_usuarios_mdf = mdf[mdf['in_segment']==False]

In [49]:
otros_usuarios_mdf

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),movieId,title,genres,userId,rating,timestamp,in_segment,prob
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,False,0.999653
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,False,0.999653
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,False,0.999653
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,False,0.999653
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,False,0.999653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,0,0,0,0,0,0,0,0,0,0,...,0,0,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,False,0.963913
100832,0,0,0,0,0,0,0,0,0,0,...,0,0,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,False,0.963913
100833,0,0,0,0,0,0,0,0,0,0,...,0,0,193585,Flint (2017),Drama,184,3.5,1537109805,False,0.963913
100834,0,0,0,0,0,0,0,0,0,0,...,0,0,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,False,0.963913
100835,0,0,0,0,0,0,0,0,0,0,...,0,0,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,False,0.963913

In [68]:
otros_usuarios_mdf[otros_usuarios_mdf['prob']<0.966]['userId'].nunique()

264