In [2]:
import pandas as pd
df_tx = pd.read_csv('market_basket_transactions.csv')

In [4]:
df_tx = df_tx.drop('Unnamed: 0', axis=1)

In [5]:
df_tx

        trx             item
0         0           shrimp
1         0          almonds
2         0          avocado
3         0   vegetables mix
4         0     green grapes
...     ...              ...
29358  7499        green tea
29359  7500             eggs
29360  7500  frozen smoothie
29361  7500      yogurt cake
29362  7500   low fat yogurt

[29363 rows x 2 columns]

In [13]:
burgers = df_tx[(df_tx['item'] == 'burgers')] 
burgers.head()

     trx     item
20     1  burgers
45    12  burgers
94    23  burgers
189   49  burgers
263   71  burgers

In [14]:
mayonnaise = df_tx[(df_tx['item'] == 'mayonnaise')] 
mayonnaise.head()

      trx        item
365   101  mayonnaise
1157  303  mayonnaise
2015  532  mayonnaise
2370  625  mayonnaise
3203  810  mayonnaise

In [16]:
burgers.merge(mayonnaise, on='trx')

    trx   item_x      item_y
0   101  burgers  mayonnaise
1   810  burgers  mayonnaise
2  1031  burgers  mayonnaise
3  1561  burgers  mayonnaise
4  3816  burgers  mayonnaise
5  4804  burgers  mayonnaise
6  6151  burgers  mayonnaise