In [1]:
!pip install scikit-surprise

Looking in indexes: https://artifactory.dataxu.net/artifactory/api/pypi/pypi-virtual/simple/
Requirement already satisfied: scikit-surprise in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (1.1.1)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-surprise) (0.17.0)
Requirement already satisfied: numpy>=1.11.2 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-surprise) (1.19.4)
Requirement already satisfied: scipy>=1.0.0 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-surprise) (1.5.4)
Requirement already satisfied: six>=1.10.0 in /opt/anaconda3/envs/notebooks3/lib/python3.9/site-packages (from scikit-surprise) (1.15.0)

In [3]:
import surprise
import pandas as pd

In [4]:
df = pd.read_csv('movies_small.csv')

In [5]:
df.head()

,Unnamed: 0,userId,movieId,rating,timestamp,title,genres
0,1626,132,260,2.0,1157920586,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
1,1647,198,260,5.0,1034137711,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
2,1655,212,260,2.5,1505400094,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
3,1667,234,260,5.0,1004407958,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,1684,279,260,5.0,1506394310,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi

In [8]:
reader = surprise.Reader(rating_scale=(1, 5))
data = surprise.Dataset.load_from_df(df[['userId','movieId','rating']],reader)

In [20]:
from surprise.prediction_algorithms.knns import KNNBasic
sim_options = {'name': 'cosine',
               'user_based': False
               }
algo_knn_basic = KNNBasic(sim_options=sim_options)
full_training_ds = data.build_full_trainset()

In [21]:
full_training_ds

In [22]:
algo_knn_basic.fit(full_training_ds)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [23]:
algo_knn_basic.predict(599,260)

Prediction(uid=599, iid=260, r_ui=None, est=2.9382726122616125, details={'actual_k': 36, 'was_impossible': False})

In [24]:
all_movies = pd.unique(df['movieId'])
all_movies

array([   260,    316,   1210,   1282,   2054,   2858,    914,    368,
         1907,   2019,    410,      7,     10,     65,    314,    355,
          426,    991,   1101,   1584,   1784,   5989,  72998,   1370,
         1608,   2694,   4011,   1299,   3039,   2422,  91542,    325,
          788,   2915,  81591,  57368,  61024,   5292,    605,   1672,
         2574,   4823,  42738,  75805, 166461,   3287,   6816])

In [25]:
rating_movies= []
for movie in all_movies:
    rating_estimado = algo_knn_basic.predict(599,movie)
    rating_movies.append((movie,rating_estimado.est))
rating_movies

[(260, 2.9382726122616125),
 (316, 2.929619178065219),
 (1210, 2.938469643989169),
 (1282, 2.9301436529211826),
 (2054, 2.933536902790784),
 (2858, 2.937321635749173),
 (914, 3.0120693562865455),
 (368, 2.928221325842058),
 (1907, 2.9576849979382374),
 (2019, 2.935264791730318),
 (410, 2.9299178214616317),
 (7, 2.9305299185290963),
 (10, 2.931493786745792),
 (65, 2.931030928461788),
 (314, 2.931305170621058),
 (355, 2.916779018807287),
 (426, 3.03785294155227),
 (991, 2.9290080490975248),
 (1101, 2.9316100117739197),
 (1584, 2.928389185433414),
 (1784, 2.936171685274034),
 (5989, 2.930704412221085),
 (72998, 2.925233107832978),
 (1370, 2.931460323901631),
 (1608, 2.9318189848152576),
 (2694, 2.9339942975568207),
 (4011, 2.9358836811925575),
 (1299, 2.9301406644073804),
 (3039, 2.9325637599938834),
 (2422, 2.9329699234655986),
 (91542, 2.9332432300574047),
 (325, 2.929246434939349),
 (788, 2.929897754059986),
 (2915, 2.9362428464381365),
 (81591, 2.9344007936117618),
 (57368, 2.9380636539334097),
 (61024, 2.938285512105146),
 (5292, 2.984848484848485),
 (605, 2.93174928254287),
 (1672, 2.9305555555555554),
 (2574, 3.1333333333333333),
 (4823, 2.9286452449574973),
 (42738, 2.928299214087555),
 (75805, 3.1041666666666665),
 (166461, 4.083333333333333),
 (3287, 2.9444444444444446),
 (6816, 2.984848484848485)]

In [26]:
df_recommend_movies = pd.DataFrame(rating_movies, columns =['movieId','rating_esperado'])
df_recommend_movies

    movieId  rating_esperado
0       260         2.938273
1       316         2.929619
2      1210         2.938470
3      1282         2.930144
4      2054         2.933537
5      2858         2.937322
6       914         3.012069
7       368         2.928221
8      1907         2.957685
9      2019         2.935265
10      410         2.929918
11        7         2.930530
12       10         2.931494
13       65         2.931031
14      314         2.931305
15      355         2.916779
16      426         3.037853
17      991         2.929008
18     1101         2.931610
19     1584         2.928389
20     1784         2.936172
21     5989         2.930704
22    72998         2.925233
23     1370         2.931460
24     1608         2.931819
25     2694         2.933994
26     4011         2.935884
27     1299         2.930141
28     3039         2.932564
29     2422         2.932970
30    91542         2.933243
31      325         2.929246
32      788         2.929898
33     2915         2.936243
34    81591         2.934401
35    57368         2.938064
36    61024         2.938286
37     5292         2.984848
38      605         2.931749
39     1672         2.930556
40     2574         3.133333
41     4823         2.928645
42    42738         2.928299
43    75805         3.104167
44   166461         4.083333
45     3287         2.944444
46     6816         2.984848

In [27]:
df_recommend_movies.merge(df).groupby('movieId').max()[['title','rating_esperado']].sort_values('rating_esperado', ascending=False)

                                                     title  rating_esperado
movieId
166461                                        Moana (2016)         4.083333
2574                            Out-of-Towners, The (1999)         3.133333
75805                            Bounty Hunter, The (2010)         3.104167
426                                  Body Snatchers (1993)         3.037853
914                                    My Fair Lady (1964)         3.012069
6816                             Three O'Clock High (1987)         2.984848
5292                                      Slap Shot (1977)         2.984848
1907                                          Mulan (1998)         2.957685
3287                              Tigger Movie, The (2000)         2.944444
1210     Star Wars: Episode VI - Return of the Jedi (1983)         2.938470
61024                             Pineapple Express (2008)         2.938286
260              Star Wars: Episode IV - A New Hope (1977)         2.938273
57368                                   Cloverfield (2008)         2.938064
2858                                American Beauty (1999)         2.937322
2915                                 Risky Business (1983)         2.936243
1784                             As Good as It Gets (1997)         2.936172
4011                                         Snatch (2000)         2.935884
2019           Seven Samurai (Shichinin no samurai) (1954)         2.935265
81591                                    Black Swan (2010)         2.934401
2694                                      Big Daddy (1999)         2.933994
2054                       Honey, I Shrunk the Kids (1989)         2.933537
91542            Sherlock Holmes: A Game of Shadows (2011)         2.933243
2422                      Karate Kid, Part III, The (1989)         2.932970
3039                                 Trading Places (1983)         2.932564
1608                                  Air Force One (1997)         2.931819
605                                    One Fine Day (1996)         2.931749
1101                                        Top Gun (1986)         2.931610
10                                        GoldenEye (1995)         2.931494
1370                                     Die Hard 2 (1990)         2.931460
314                       Secret of Roan Inish, The (1994)         2.931305
65                                         Bio-Dome (1996)         2.931031
5989                            Catch Me If You Can (2002)         2.930704
1672                                 Rainmaker, The (1997)         2.930556
7                                           Sabrina (1995)         2.930530
1282                                       Fantasia (1940)         2.930144
1299                            Killing Fields, The (1984)         2.930141
410                            Addams Family Values (1993)         2.929918
788                            Nutty Professor, The (1996)         2.929898
316                                        Stargate (1994)         2.929619
325                  National Lampoon's Senior Trip (1995)         2.929246
991                                 Michael Collins (1996)         2.929008
4823                                    Serendipity (2001)         2.928645
1584                                        Contact (1997)         2.928389
42738                         Underworld: Evolution (2006)         2.928299
368                                        Maverick (1994)         2.928221
72998                                        Avatar (2009)         2.925233
355                                Flintstones, The (1994)         2.916779

In [28]:
from surprise.model_selection.split import train_test_split
trainset, testset = train_test_split(data, test_size=0.25)